<header id="header">
  <!--<div class="top-bar">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-6 col-xs-4">-->
          <!--<div class="top-number"><p><i class="fa fa-phone-square"></i>  </p></div>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-xs-8">-->
          <!--<div class="social">-->
            <!--&lt;!&ndash;<ul class="social-share">&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-facebook"></i></a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-dribbble"></i></a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-skype"></i></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="search">&ndash;&gt;-->
              <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" class="search-form" autocomplete="off" placeholder="Search">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-search"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash;/.container&ndash;&gt;-->
  <!--</div>&lt;!&ndash;/.top-bar&ndash;&gt;-->

  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><div style="position:absolute; left:95px;top:-20px;"> <img src="images/logopic.png" style="width:130px;height:130px;" alt="logo"></div></a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class = "active"><a href="/">Home</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Search <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/searchByA">Search By Medal count</a></li>
              <li><a href="/searchByPop">Search By Popularity</a></li>
              <!--<li><a href="404.html">404</a></li>-->
              <!--<li><a href="shortcodes.html">Shortcodes</a></li>-->
            </ul>
          </li>

          <li id = allPokemon class = ""><a href="/allPokemon">Pokemon</a></li>
          <li><a href="/allAthletes">Athletes</a></li>


          <li><a href="/guessgame">Guess Game</a></li>
          <li><a href="/matchgame">Match Game</a></li>
          <li><a href="/about">Contact</a></li>
        </ul>
      </div>
    </div><!--/.container-->
  </nav><!--/nav-->

</header><!--/header-->
