<!DOCTYPE html>
<html lang="en">
<head>
  <title> about </title>
  <%include templates/head.ejs%>
</head><!--/head-->

<body>

<%include templates/navibar.ejs%>
<div class="wrapper">
  <section id="contact-info">
    <div class="center">
      <h2>Page Not Found</h2>
    </div>
  </section>
</div>
<div class="push"></div>
<% include templates/footer.ejs%>

</body>
</html>