<!DOCTYPE html>
<html lang="en">
<head>

  <title>Home | Athletes vs. Pokemon</title>
  <%include templates/head.ejs%>

</head><!--/head-->



<body class="homepage">
  <%include templates/navibar.ejs%>
  <section id="main-slider" class="no-margin">
    <div class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
      </ol>
    <div class="carousel-inner">

      <div class="item active" style="background-image: url(images/slider/2.jpg)">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h1 class="animation animated-item-1">Search Your Favorite Athlete</h1>
                <h2 class="animation animated-item-2">See who your favorite athlete would be in Pokémon's world according to their skills!</h2>
                <li><a class="btn-slide animation animated-item-3" href="searchByA">Search Now</a></li>
              </div>
            </div>

            <div class="col-sm-6 hidden-xs animation animated-item-4">
              <div class="slider-img">
                <img src="images/slider/pikaqiu.png" style="width:495px;height:550px;" class="img-responsive">
              </div>
            </div>

          </div>
        </div>
      </div><!--/.item-->

      <div class="item" style="background-image: url(images/slider/olym3.jpg); background-position: 0px -40px;">
        <div class="container">
          <div class="row slide-margin">
            <div class="col-sm-6">
              <div class="carousel-content">
                <h1 class="animation animated-item-1">Search You Favorite Athlete</h1>
                <h2 class="animation animated-item-2">See who your favorite athlete would be in Pokémon's world according to their popularity!</h2>
                <li><a class="btn-slide animation animated-item-3" href="searchByPop">Search Now</a></li>
              </div>
            </div>

            <div class="col-sm-6 hidden-xs animation animated-item-4">
              <div class="slider-img">
                <img src="images/slider/olym.png" style="width:500px;height:243px; position:relative; top:100px; left:80px" class="img-responsive">
              </div>
            </div>

          </div>
        </div>
      </div><!--/.item-->

    </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
      <i class="fa fa-chevron-right"></i>
    </a>
   </section><!--/#main-slider-->



  <section id="Athletes">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>Athletes</h2>
      <p class="lead">Click athletes below and see corresponding pokémons!</p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/liuxiang2.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Xiang Liu </a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Xiang+Liu"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/liuxuan2" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Xuan Liu</a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Xuan+Liu"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/chris1.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Deni Lusic</a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Deni+Lusic"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/feier2.jpg"  alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="">Michael Phelps</a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Michael+Phelps"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/bolt1.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Usain Bolt</a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Usain+Bolt"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/justin1.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Justin Spring</a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Justin+Spring"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/yifu1" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Yifu Wang</a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Yifu+Wang"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <img class="img-responsive" src="images/portfolio/recent/suzie1.jpg" alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Suzie Fraser</a></h3>
              <li><a href="http://localhost:8080/resultByA?aname=Suzie+Fraser"><i class="fa fa-eye"></i> View</a></li>
            </div>
          </div>
        </div>
      </div>

    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#recent-works-->
  
  <% include templates/footer.ejs%>

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/wow.min.js"></script>



</body>

</html>