<!DOCTYPE html>
<html lang="en">
<head>
    <%include templates/head.ejs%>
</head>
<body>

<%include templates/navibar.ejs%>

<section id="middle">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 wow fadeInDown">
        <div class="accordion">
          <h2><%= pokemon %></h2>
          <!--<% var url = "https://s3-us-west-2.amazonaws.com/pokemonimage/image/"+ result+".png" %>-->
          <!--<% console.log(url) %>-->
          <img class="img-responsive img-blog" src= <%=url%> style="width:428px;height:428px;" alt="" />
        </div>
      </div>

      <div class="col-sm-6 wow fadeInDown">


        <div class="skill">

          // TODO: embed a WIKI PAGE

        </div>

      </div><!--/.col-sm-6-->



    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#middle-->


</div>
<div class="push"></div>
<% include templates/footer.ejs%>
</body>
</html>


