<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About Page">
    <meta name="author" content="">

    <title><%= title %></title>

</head>

<body>
    <div class="container">
        <% include templates/header.ejs %>
        <h1>The Search Result Page</h1>
        <h3>Show Query Result Here</h3>
    </div>

</body>
</html>
