<!DOCTYPE html>
<html lang="en">
<head>

    <title> Pokemon </title>
    <link href="stylesheets/guessgame.css" rel="stylesheet">
    <%include templates/head.ejs%>
</head>
<body>

<%include templates/navibar.ejs%>


<div id="headerwrap">
    <div class="container">
        <h3><%= title %></h3>

        <!-- TODO: ADD AN IMAGE BELOW MESSAGE -->
        <h3><%= message %></h3>
        <!-- TODO: ALSO A LINK BACK TO GUESSGAME -->

    </div>
</div>

<% include templates/footer.ejs%>

</body>
</html>
