section {
    width: 80%;
    height: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

div#option0 {
    width: 40%;
    float: left;
}

div#option1 {
    float: right;
    width: 40%;
}

img {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 36px;
    text-align: center;
}

#guess_button1 {
    background: #3498db;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
}

#guess_button2 {
    background: #3498db;
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
}
#guess_button1:hover {
    background: #3cb0fd;
    text-decoration: none;
}
#guess_button2:hover {
    background: #3cb0fd;
    text-decoration: none;
}