section {
    width: 80%;
    height: 500px;
    margin: auto;
    padding: 10px;
}

div#option0 {
    width: 40%;
    float: left;
}

div#option1 {
    float: right;
    width: 40%;
}

img {
    width: 50%;
    height: 50%;
}